{
    email {$VPS_ACME_EMAIL}
    admin off
}
{$VPS_DOMAIN} {
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000"
    @api path /api/* /health/*
    handle @api {
        reverse_proxy api:8000
    }
    handle {
        reverse_proxy web:3000
    }
}
